@charset "UTF-8";
/* utility */
/* 요소를 완전히 없애면 안되고.. 글자만 없애는 걸로.. */
.ir {
  position: absolute;
  display: block;
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
  color: transparent;
  text-indent: -9999px;
}

html {
  /* https://velog.io/@leewooseong/REM-EM */
  /* 폰트 사이즈에 대해 유동적인 레이아웃 제공을 위해서 */
  /* default font size: 16px -> 10px */
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #eae8fe;
}

/* main tag */
#app {
  margin: 0 auto;
  padding-top: 24.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 넓이를 지정해주지 않으면 flex-zoom 이슈가 발생하여서 어쩔 수 없이..  */
  /* 그런데 이렇게 넓이를 지정해주면 wrap이 적용이 안된다.
    1. flex-wrap: wrap은 container의 width가 content보다 작을 때 wrapping 된다.
    2. 하지만 width를 쓰게 된다면 width값이 고정이 되기 때문에 max-width로 유동적인 값을 줘야한다.
    */
  /* width: 74.8rem; */
  max-width: 74.8rem;
  gap: 2.8rem;
}

/* h1 */
.tit-app {
  /* position이 생략된 것 */
  top: 0;
  /* transform: translate(-50%, -50%); */
  width: 38.6rem;
  height: 18rem;
  background: no-repeat 100% 100%/100% 100% url(../../img/logo.png);
}

/* vending-machine section */
.vending-machine {
  /* width를 적어주지 않아도 내부 content의 width와 margin으로 전체 넓이가 유지됨 */
  /* width: 360px; */
  padding: 2.8rem 2.4rem 2.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
}

.list-item {
  margin-bottom: 1.7rem;
  display: -ms-grid;
  display: grid;
  gap: 0.6rem;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.list-item li {
  margin: 0.3rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 0.4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 0.4rem rgba(0, 0, 0, 0.5);
}

.list-item li:hover {
  border: 0.3rem solid #6327fe;
  margin: 0;
}

.btn-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 1.1rem 0px 0.6rem;
  width: 9.4rem;
  font-weight: 500;
  line-height: 1.3rem;
  font-size: 0.9rem;
}

.btn-item:hover {
  border-radius: 1rem;
}

.btn-item .img-item {
  width: 3.6rem;
  height: 6.5rem;
  margin: 0 auto 0.6rem;
}

.btn-item .tit-item {
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin-bottom: 0.7rem;
}

.btn-item .txt-item {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: white;
  background: #6327fe;
  border-radius: 5rem;
}

/* 반환될 정보들의 contents */
/* 
        column     column
row1     잔액        1000원
row2     금액 입력   입금
row3     컨테이너    획득
*/
.control-container {
  /* 넓이를 지정해주지 않으면 display: block처럼 작용 */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20rem 9.4rem;
      grid-template-columns: 20rem 9.4rem;
  -ms-grid-rows: minmax(0, auto);
      grid-template-rows: minmax(0, auto);
  gap: 1.1rem 1.2rem;
}

.info-changes {
  overflow: hidden;
  background-color: #eae8fe;
  border-radius: 0.5rem;
  padding: 0.6rem 1rem 0.7rem;
  font-size: 1.4rem;
  line-height: 2rem;
}

.txt-changes {
  float: right;
}

.inp-put {
  border-radius: 0.5rem;
  border: 1px solid #bdbdbd;
  margin-bottom: 0.1rem;
}

.inp-put::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 19px;
  font-weight: 500;
  color: #bdbdbd;
}

.inp-put:-ms-input-placeholder {
  font-size: 13px;
  line-height: 19px;
  font-weight: 500;
  color: #bdbdbd;
}

.inp-put::-ms-input-placeholder {
  font-size: 13px;
  line-height: 19px;
  font-weight: 500;
  color: #bdbdbd;
}

.inp-put::placeholder {
  font-size: 13px;
  line-height: 19px;
  font-weight: 500;
  color: #bdbdbd;
}

.btn-changes_return, .btn-put {
  background: #ffffff;
  -webkit-box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
  font-size: 1.3rem;
  line-height: 1.9rem;
  border-radius: 0.5rem;
}

/* 거스름돈 반환 버튼 */
.btn-changes_return {
  padding: 0.6rem 0.9rem 0.8rem;
  /* box-sizing: border-box; */
}

/* 입금 버튼 */
.btn-put {
  padding: 0.6rem 3.5rem 0.7rem;
  margin-bottom: 0.1rem;
  /* box-sizing: border-box; */
}

.list-item-staged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #eae8fe;
  overflow-y: scroll;
  height: 10.6rem;
  border-radius: 0.5rem;
  padding: 1.2rem 0.6rem 1.2rem 1.2rem;
  border: 1px solid #bdbdbd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  /* 스크롤 스타일 */
}

.list-item-staged::-webkit-scrollbar {
  width: 1.2rem;
  height: 7.9rem;
}

.list-item-staged::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: white;
  /* 스크롤바 둥글게 설정    */
  border: 0.4rem solid #eae8fe;
  border-radius: 1rem;
}

.item-staged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem 0.8rem 0.7rem 1rem;
  background-color: white;
  border-radius: 0.5rem;
  margin-bottom: 0.6rem;
}

.item-staged:last-child {
  margin-bottom: 0;
}

.item-staged img {
  width: 1.8rem;
  height: 3.3rem;
  float: left;
}

.item-staged strong {
  /* margin을 먹이기 위한 display */
  float: left;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.item-staged span {
  display: block;
  padding: 0.4rem 1.1rem 0.6rem;
  font-size: 1.4rem;
  line-height: 2rem;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

/* 획득 버튼 */
.btn-get {
  padding: 4.3rem 3.5rem 4.4rem;
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #6327fe;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
}

/* my-info section */
.my-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eae8fe;
}

.my-info .cont-mymoney {
  width: 36rem;
  background-color: #ffffff;
  padding: 0.9rem 2.7rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.my-info .info-mymoney {
  overflow: hidden;
  background-color: #eae8fe;
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  font-size: 1.4rem;
  line-height: 2rem;
}

.my-info .txt-mymoney {
  float: right;
}

.my-info .cont-myitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  padding: 2.5rem 2.7rem 2.6rem;
  background-color: #ffffff;
}

.my-info .cont-myitems .tit-myitem {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 13px;
}

.my-info .cont-myitems .list-item-staged {
  width: 100%;
  height: 36.4rem;
}

.my-info .cont-myitems .txt-total {
  margin-top: 0.6rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  line-height: 2.1rem;
}

/* media queries */
@media screen and (max-width: 360px) {
  .ir {
    position: relative;
  }
  body {
    background-color: #ffffff;
  }
  .tit-app {
    width: 166px;
    height: 71.12px;
  }
  #app {
    padding-top: 0;
    gap: 0;
  }
  .vending-machine {
    padding: 1.8rem 2.7rem 2.8rem;
    /* 4개 */
    /* 위 오 아 왼 */
    /* 3개 */
    /* 위 (오 왼) 아 */
    /* 2개 */
    /* (위 아) (오 왼) */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #ffffff;
  }
  .my-info .cont-mymoney {
    padding: 0 2.7rem;
  }
  .my-info .cont-myitems {
    margin-top: 0;
    padding: 4.1rem 2.7rem 2.6rem;
  }
  .my-info .cont-myitems {
    padding: 2.5rem 2.7rem 4.3rem;
  }
}

/* 1. 안에서부터 만들어보기 */
/* scroll 디자인 넣어서 또 시도해보기 */
/* 모듈형으로 디자인해보기 */
/* focus??? */
/* 로그인 및 select box 프로젝트에서 배운 팁도 적용해보기 */
/*# sourceMappingURL=style.css.map */