@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* utility */
.sr-only {
  position: absolute;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  border: 0;
}

/* login box */

.start-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 500px;
  height: 240px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
}

.start-box > img {
  display: block;
  margin: 30px auto 0;
}

.start-box > p {
  margin-top: 28px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.start-box > button {
  display: block;
  margin: 32px auto 30px;
  width: 440px;
  height: 60px;
  background: #2f80ed;
  border-radius: 5px;
  color: #ffffff;
  font-size: 22px;
  line-height: 28px;
  border: none;
}

.login-box {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 520px;
  height: 712px;

  background: #ffffff;

  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
}

.login-box .login-box_close-btn {
  width: 16px;
  height: 16px;
  background: #ffffff;
}
