/* util */
/* ir은 img-replace */
.ir {
  display: block;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  line-height: 0;
  font-size: 1px;
  color: transparent;
}

/* layout */
body {
  background-color: #eae8fe;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0 28px;
  padding-top: 247px;
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
}

#app .vending-machine,
#app .my-info {
  width: 360px;
  /* height: 545px; */
  background-color: #fff;
  box-sizing: border-box;
}
